/pruebas

/01-Interfaces/TablasDeConversion
/01-Interfaces/ConversionTest
/01-Interfaces/*.o
/01-Interfaces/.vscode

/02-FasesErrores/*.i
/02-FasesErrores/*.s
/02-FasesErrores/*.o
/02-FasesErrores/*.ex